.container {
  width: 640px;
  margin: auto;
}
.id {
  text-align: center;
}
.status {
  color: var(--colors-interface-success);
}
.wrapper {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  height: 312px;
  overflow: auto;
}
.wrapper::-webkit-scrollbar {
  width: 8px;
}
.wrapper::-webkit-scrollbar-track {
  background: #2f2f37;
}
.wrapper::-webkit-scrollbar-thumb {
  background: #8585ad;
}
.footer {
  display: flex;
  justify-content: space-between;
}
