.burgerConstructor {
  flex-basis: 600px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bun {
  margin-left: 24px;
}
.dopElement {
  max-height: calc(100vh - 520px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  min-height: 75px;
}
.dopElement::-webkit-scrollbar {
  width: 8px;
}
.dopElement::-webkit-scrollbar-track {
  background: #2f2f37;
}
.dopElement::-webkit-scrollbar-thumb {
  background: #8585ad;
}
.finalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 488px;
  margin-top: 40px;
}
.price {
  display: flex;
  margin-right: 40px;
}
.price svg {
  width: 36px;
  height: 36px;
}
:global(.constructor-element) {
  flex-basis: 100%;
  max-width: 100%;
  margin-right: 10px;
}
:global(.constructor-element__row) {
  justify-content: space-between;
}
:global(.constructor-element__text) {
  flex-grow: 1;
}
