.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.done {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/sphere.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.done svg {
  width: 48px;
  height: 48px;
}
