.group {
  display: flex;
}
.base {
  max-width: 844px;
  width: 100%;
  background: #1c1c21;
  border-radius: 40px;
  padding: 24px;
}
.id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.status {
  color: var(--colors-interface-success);
}
