.info {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stage {
  display: flex;
  gap: 36px;
  justify-content: space-between;
}
.wrapper {
  flex-basis: 272px;
}
.ready {
  color: var(--colors-interface-success);
  max-height: 264px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.total {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
